/* 
    Dark Theme
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

h1,h2,h3,h4,h5,h6 { 
    font-weight:normal;   
}

html {
    font-family: 'Raleway', sans-serif;
    background:black;
    color:white;
}

a {
    color:white;
}

a:hover {
    cursor:pointer;
    text-decoration:underline;
}

a:visited {
    color:white;
}
